* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #00782d;
  box-sizing: content-box;
}
.cell {
  font-size: 24px;
  font-weight: bold;
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #00782d;
  background-color: #e3f5e9;
  cursor: pointer;
}
.cell:hover {
  background-color: #b0beb5;
}
.cell__full {
  background-color: #63dc90;
}
.cell__full:hover {
  background-color: #449963;
}
.cell__available {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #63dc90;
}
.cell__selected {
  background-color: #00b945;
}
.cell__selected:hover {
  background-color: #01802f;
}
